{% extends 'base.html.twig' %}

{% block title %}Bonjour HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper text-center">
    <h1>Bonjour test {{ controller_name }}! ✅</h1>
    {% for user in users %}
        <pre>
            {{ dump(user.lastname) }}
        </pre>
    {% endfor %}
    

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Applications/MAMP/htdocs/ProjectSymfony/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Applications/MAMP/htdocs/ProjectSymfony/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div>
{% block javascript %}
    <script>
        $(function(){
            console.log("Script working properly");
        });
    </script>
{% endblock %}
{% endblock %}

